li.sc-dAbbOL {
    background: #4285F4 !important;
    border: none !important; 
    border-radius: 5px !important;
}

a.sc-feUZmu.jkiwiA.page-link {
    background: white !important;
    color: black !important;
    border-radius: 5px !important;
}